<!-- -*- mode: XML -*- -->
<launch>
  <arg name="vesc_config" default="$(find f1tenth_hardware)/config/vesc.yaml" />
  <rosparam file="$(arg vesc_config)" command="load" />
  
  <node pkg="vesc_ackermann" type="ackermann_to_vesc_node" name="ackermann_to_vesc" >
    <remap from="ackermann_cmd" to="drive_cmd" />
  </node>
  <node pkg="vesc_driver" type="vesc_driver_node" name="vesc_driver" />
</launch>
